img{
    height: 45px;
    border-radius: 50%;

}

.col_left, .col_right{
    border: 1px solid;
}
.chat{
    height: 700px;
}

li{
    list-style-type: none;
}
.message_input{
    width: 500px;
}

.nav_left, .nav_right{
    border-bottom: 1px solid;
}
.write_message_nav{
    width: 100%;
    border-top: 1px solid;
}
.message_nav_width{
    width: 100%;
}